h1 {

    font-size: $font-size-2xl;
    
    @media all and (min-width: 768px) {
        font-size: $font-size-3xl;
    }
}

.banner__description {
    @include set-text-style($text-style-heading-3);
    
    font-weight: 500;
}

.middle-banner {
    background-image: url("http://unumemarketing.com/dental-employer/bg-banner.jpg");
    background-position: 50%;

    @media all and (min-width: 768px) {
        background-position: initial;
    }
}

.dlp-logo-text {
    border-left: 2px solid $component-logo-border-color;
    color: $component-logo-text-color;
    font-size: 2.4rem;
    margin-left: space(1);
    padding-left: space(1);
}

$component-card-icon-height: 140px;
$component-card-icon-width: 140px;

.card-1,
.card-2,
.card-3 {
    border-radius: 100%;
    height: $component-card-icon-height;
    margin: 0 auto $space;
    width: $component-card-icon-width;
    background-color: $component-icon-background-color;
}

.icon-1,
.icon-2,
.icon-3 {
    height: $component-card-icon-height;
    background-repeat: no-repeat;
    background-position: center;  
}

.icon-1 {
    background-image: url("http://unumemarketing.com/dental-broker/icon-ads.svg");
}

.icon-2 { 
    background-image: url("http://unumemarketing.com/dental-broker/icon-email.svg");
}

.icon-3 {
    background-image: url("http://unumemarketing.com/dental-broker/icon-webpage.svg"); 
}